/* banner.css */

/* .mi-banner {
	background: linear-gradient(-225deg, rgba(30,30,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url("../../assets/background.jpg");
	background-size: cover;
	background-position: center;
	padding: 10px;
	text-align: center;
	padding-bottom: 40px;
	color: white;
} */

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, #000000 9.75%, rgba(0, 0, 0, 0.19) 63.79%), url("../../images/background2.png"), #000000;
  background-size: cover;
	background-position: center;
  padding: 10px 10px;
  min-width: 580px;
  color: white;
}

.banner-text {
  text-align: left;
  margin: 30px auto;
  min-width: 90%;
}

 .banner button {
	border: none;
  background-color: #FF006E;
	color: whitesmoke;
	padding: 11px 20px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  font-family: 'Signika', sans-serif;;
}

.banner button:hover {
   background-color: #FB5607;
}
