/* forms.css ALFREDO */

textarea {
	width: 400px;
	min-height: 150px;
	min-width: 400px;
	overflow: auto;
	resize: none;
	float: inherit;
	flex-direction: column;
	overflow-wrap: break-word;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input  {
  width: 320px;
  font-family: Signika;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background-color: #D8D8D8;;
  color: #656565;
  margin: 10px auto;
  border-style: none;
  padding: 11px 20px;
}
