/* barra de navegación Proyecto 3 */

nav {
	background-color: #3a86ff;
	width: 100%;
  min-width: 600px;
	margin: 0;
	height: 40px;
}

nav img {
  position: relative;
  top: 4px;
	height: 40px;
	padding-right: 15px;
	padding-left: 15px;
}

nav a {
	color: white;
	display: block;
	padding: 10px;
	background-color: #3a86ff;
	text-decoration: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  background-color: #dddddd;
  padding: 0;
}

nav li {
	display: inline;
	float: left;
}

nav li a:hover {
  background-color: #8338EC;
}

.active {
  background-color: #ff006e;
}

.active:hover {
  background-color: #FB5607;
}
